.menubar{
    margin-top: 30px;
    margin-bottom: 30px;
}
.menu-toggle{
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
    color: black;
}


.menu-toggle:hover{
    color: rgb(236, 54, 99);
}